<div class="list-group search-result center">
  <% @items.each do |item| %>
 <a href="/books/<%= item["id"] %>" class="list-group-item list-group-item-action">
  <%= image_tag item["volumeInfo"]["imageLinks"]["thumbnail"] if item["volumeInfo"]["imageLinks"].present? %>
  <div class="search-result-title">
    <%= item["volumeInfo"]["title"] %>
    <div class="search-results-author">
      <% if item["volumeInfo"]["authors"].present? %>
        <% item["volumeInfo"]["authors"].each do |author| %>
          <%= author %>
        <% end %>
      <% end %>
    </div>
    <div class="search-results-publisher">
        <%= item["volumeInfo"]["publisher"] %>
        <%= item["volumeInfo"]["publishedDate"] %>
    </div>
      </div>
  <p class="search-result">
  <% if item["searchInfo"].present? %>
    <%= sanitize item["searchInfo"]["textSnippet"], :class => 'book-description'  %>
    <% else %>
    <%='No description available' %>
   <% end %>
   </p>
</a>

<% end %>

</div>
