
<div class="book-profile center">

<%= image_tag @response["volumeInfo"]["imageLinks"]["thumbnail"] if  @response["volumeInfo"]["imageLinks"]["thumbnail"].present? %>
<h1><%= @response["volumeInfo"]["title"]%></h1>
<h2><%= @response["volumeInfo"]["subtitle"] if @response["volumeInfo"]["subtitle"].present? %></h2>


<% if @response["volumeInfo"]["authors"].present? %>
  <% @response["volumeInfo"]["authors"].each do |author| %>
    <h4><%= author %></h4>
    <% end %>
  <% end %>

  <h6>
    <%= @response["volumeInfo"]["publisher"] if  @response["volumeInfo"]["publisher"].present? %>
    <%= @response["volumeInfo"]["publishedDate"] if  @response["volumeInfo"]["publishedDate"].present? %>
      </h6>
<div class="book-description">
  <%= sanitize @response["volumeInfo"]["description"] if  @response["volumeInfo"]["description"].present? %>
  </div>



<%= form_tag("/likes", method: "post", class: 'book-profile-like') do %>
  <%= hidden_field_tag(:google_id, @response['id']) %>
  <%= submit_tag("Add to list") %>
<% end %>

</div>
