<!DOCTYPE html>
<html>
  <head>
    <title>NewBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <%= link_to root_path do %>
         <%= image_tag "bookimage.png", class: "navbar-brand" %>
      <% end %>
        <div class="nav-title">
          Newbook
        </div>
      <% if @current_user.present? %>
        <%= link_to 'Account', likes_path, :method => 'get', :class => 'navbar-link' %>
      <% else %>
        <%= link_to 'Log In', new_user_path, :class => 'navbar-link'  %>
      <% end %>
      </nav>
    <%= yield %>
  </body>
</html>
